.git
.gitignore

.eslintignore
.eslintrc.js

.gitlab-ci.yml

.prettierignore
prettier.config.js
postcss.config.js

apollo.client.js
babel.config.js
ecosystem.config.js

jest.config.js
jest.setup.ts
tsconfig.jest.json

README.md
LICENSE

next-env.d.ts

yarn.lock

npm-debug.log
Dockerfile*
.dockerignore
docker-compose*
.vscode
.editorconfig

.env.example
.env.test

__mocks__/
__tests__/
helm/

nodemon.json
components/
layouts/
lib/
pages/
server/
public/
target/
typings/
tsconfig.json
tsconfig.server.json
