.git
.gitignore
.eslintignore
.prettierignore
prettier.config.js
npm-debug.log
Dockerfile*
docker-compose*
README.md
LICENSE
__tests__
__mocks__
.vscode
target
.editorconfig
jest.config.js
jest.setup.ts
ecosystem.config.js
helm
node_modules
.nest
.next
