.vscode

.git*
doc/

*.map

.editorconfig

.eslint*

.gitlab-ci.yml

.prettierignore
prettier.*
postcss.*

apollo.client.*
babel.*

jest.*

README.md
LICENSE

nest-cli.json
next-env.d.ts

yarn.lock

npm-debug.log
Dockerfile*
.dockerignore
docker-compose*

.env.example
.env.test

__mocks__/
__tests__/
helm/
coverage/

package.json

node_modules/.yarn-integrity

webpack.*

apps/portal/components/
apps/portal/layouts/
apps/portal/pages/
.local/
typings/

tsconfig.jest.json
tsconfig.server.json
