image: node:latest
# 10.16-buster

stages:
  - bundle
  - test
  - build
  - deploy

services:
  - postgres:latest
  # 10
  - redis:latest

variables:
  POSTGRES_DB: portaldb
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: VbNfGhRtY321

before_script:
  - (! test -f /usr/local/bin/yarn) && npm install -g yarn

bundle:
  stage: bundle
  script:
    - uname -a
    - env
    - cp --remove-destination "${CI_ENVIRONMENT_VARIABLES}" .env
    - yarn
    - yarn jwt:cert
    - ls -la
  cache:
    key: ${CI_COMMIT_REF_SLUG}-${CI_PROJECT_PATH_SLUG}
    untracked: true
    policy: push
    paths:
      - node_modules/
  artifacts:
    paths:
      - node_modules/
      - .env
      - jwt.public.pem
      - jwt.private.pem
    expire_in: 1 days

test:
  stage: test
  cache:
    key: ${CI_COMMIT_REF_SLUG}-${CI_PROJECT_PATH_SLUG}
    untracked: true
    paths:
      - node_modules/
    policy: pull
  script:
    - ls -la
    - yarn test -u

build:
  stage: build
  cache:
    key: ${CI_COMMIT_REF_SLUG}-${CI_PROJECT_PATH_SLUG}
    untracked: true
    paths:
      - node_modules/
    policy: pull
  script:
    - ls -la
    - yarn build
    - ls -la
  artifacts:
    paths:
      - .nest/
      - .next/
    expire_in: 1 days

deploy:
  stage: deploy
  cache:
    key: ${CI_COMMIT_REF_SLUG}-${CI_PROJECT_PATH_SLUG}
    untracked: true
    paths:
      - node_modules/
    policy: pull
  script:
    - ls -la
    - echo TEST SUCCEDED
