apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: {{ include "portal.fullname" . }}-job
  labels:
{{ include "portal.labels" . | indent 4 }}
spec:
  schedule: {{ .Values.signatureShedule | quote }}
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: {{ .Chart.Name }}
            image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
            imagePullPolicy: {{ .Values.image.pullPolicy }}
            args: ["start:synchJob"]
            ports:
              - name: microsvc
                containerPort: {{ .Values.PORT | default 4222 }}
                protocol: TCP
            env:
              - name: PORT
                value: {{ .Values.PORT | default "4222" | quote }}
              - name: PORT_DEBUG
                value: {{ .Values.PORT_DEBUG | default "9229" | quote }}
              - name: DATABASE_URI
                valueFrom:
                  configMapKeyRef:
                    name: portal-configmap
                    key: DATABASE_URI
              - name: DATABASE_URI_RD
                valueFrom:
                  configMapKeyRef:
                    name: portal-configmap
                    key: DATABASE_URI_RD
              - name: DATABASE_SCHEMA
                valueFrom:
                  configMapKeyRef:
                    name: portal-configmap
                    key: DATABASE_SCHEMA
              - name: DATABASE_SYNCHRONIZE
                valueFrom:
                  configMapKeyRef:
                    name: portal-configmap
                    key: DATABASE_SYNCHRONIZE
              - name: DATABASE_DROP_SCHEMA
                valueFrom:
                  configMapKeyRef:
                    name: portal-configmap
                    key: DATABASE_DROP_SCHEMA
              - name: DATABASE_MIGRATIONS_RUN
                valueFrom:
                  configMapKeyRef:
                    name: portal-configmap
                    key: DATABASE_MIGRATIONS_RUN
              - name: DATABASE_LOGGING
                valueFrom:
                  configMapKeyRef:
                    name: portal-configmap
                    key: DATABASE_LOGGING
              - name: DATABASE_REDIS_URI
                valueFrom:
                  configMapKeyRef:
                    name: portal-configmap
                    key: DATABASE_REDIS_URI
              - name: DATABASE_REDIS_TTL
                valueFrom:
                  configMapKeyRef:
                    name: portal-configmap
                    key: DATABASE_REDIS_TTL
              # HTTP
              - name: HTTP_REDIS_URI
                valueFrom:
                  configMapKeyRef:
                    name: portal-configmap
                    key: HTTP_REDIS_URI
              - name: HTTP_REDIS_TTL
                valueFrom:
                  configMapKeyRef:
                    name: portal-configmap
                    key: HTTP_REDIS_TTL
              - name: HTTP_REDIS_MAX_OBJECTS
                valueFrom:
                  configMapKeyRef:
                    name: portal-configmap
                    key: HTTP_REDIS_MAX_OBJECTS
              # Session
              - name: SESSION_REDIS_URI
                valueFrom:
                  configMapKeyRef:
                    name: portal-configmap
                    key: SESSION_REDIS_URI
              - name: SESSION_COOKIE_TTL
                valueFrom:
                  configMapKeyRef:
                    name: portal-configmap
                    key: SESSION_COOKIE_TTL
              - name: SESSION_SECRET
                valueFrom:
                  configMapKeyRef:
                    name: portal-configmap
                    key: SESSION_SECRET
              # LDAP
              - name: LDAP_URL
                valueFrom:
                  configMapKeyRef:
                    name: portal-configmap
                    key: LDAP_URL
              - name: LDAP_BIND_DN
                valueFrom:
                  configMapKeyRef:
                    name: portal-configmap
                    key: LDAP_BIND_DN
              - name: LDAP_BIND_PW
                valueFrom:
                  configMapKeyRef:
                    name: portal-configmap
                    key: LDAP_BIND_PW
              - name: LDAP_SEARCH_BASE
                valueFrom:
                  configMapKeyRef:
                    name: portal-configmap
                    key: LDAP_SEARCH_BASE
              - name: LDAP_SEARCH_FILTER
                valueFrom:
                  configMapKeyRef:
                    name: portal-configmap
                    key: LDAP_SEARCH_FILTER
              - name: LDAP_SEARCH_GROUP
                valueFrom:
                  configMapKeyRef:
                    name: portal-configmap
                    key: LDAP_SEARCH_GROUP
              - name: LDAP_SEARCH_BASE_ALL_USERS
                valueFrom:
                  configMapKeyRef:
                    name: portal-configmap
                    key: LDAP_SEARCH_BASE_ALL_USERS
              - name: LDAP_SEARCH_FILTER_ALL_USERS
                valueFrom:
                  configMapKeyRef:
                    name: portal-configmap
                    key: LDAP_SEARCH_FILTER_ALL_USERS
              # LDAP Redis
              - name: LDAP_REDIS_URI
                valueFrom:
                  configMapKeyRef:
                    name: portal-configmap
                    key: LDAP_REDIS_URI
              - name: LDAP_REDIS_TTL
                valueFrom:
                  configMapKeyRef:
                    name: portal-configmap
                    key: LDAP_REDIS_TTL
              - name: MICROSERVICE_URL
                valueFrom:
                  configMapKeyRef:
                    name: portal-configmap
                    key: MICROSERVICE_URL
              - name: SOAP_URL
                valueFrom:
                  configMapKeyRef:
                    name: portal-configmap
                    key: SOAP_URL
              - name: SOAP_USER
                valueFrom:
                  configMapKeyRef:
                    name: portal-configmap
                    key: SOAP_USER
              - name: SOAP_PASS
                valueFrom:
                  configMapKeyRef:
                    name: portal-configmap
                    key: SOAP_PASS
              - name: NEWS_URL
                valueFrom:
                  configMapKeyRef:
                    name: portal-configmap
                    key: NEWS_URL
              - name: NEWS_API_URL
                valueFrom:
                  configMapKeyRef:
                    name: portal-configmap
                    key: NEWS_API_URL
              - name: MAIL_URL
                valueFrom:
                  configMapKeyRef:
                    name: portal-configmap
                    key: MAIL_URL
              - name: MAIL_LOGIN_URL
                valueFrom:
                  configMapKeyRef:
                    name: portal-configmap
                    key: MAIL_LOGIN_URL
              - name: MEETING_URL
                valueFrom:
                  configMapKeyRef:
                    name: portal-configmap
                    key: MEETING_URL
          restartPolicy: Never
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
