# Default values for portal.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: kngk-portal
  tag: latest
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: "portal"
fullnameOverride: "portal"

NODE_ENV: production

# App
HOST: 0.0.0.0
PORT: 4000
PORT_DEBUGGER: 9229
SESSION_SECRET: supersecret

# DB
DATABASE_CONNECTION: postgres
DATABASE_HOST: postgresql.default.svc.cluster.local
DATABASE_PORT: 5432
DATABASE_USERNAME: postgres
DATABASE_PASSWORD: ""
DATABASE_DATABASE: portaldb
DATABASE_SCHEMA: public
DATABASE_SYNCHRONIZE: true
DATABASE_DROP_SCHEMA: true
DATABASE_MIGRATIONS_RUN: true
DATABASE_LOGGING: true
DATABASE_CACHE: true

# Redis
REDIS_HOST: redis-ha.default.svc.cluster.local
REDIS_PORT: 6379
REDIS_DB: 0
REDIS_PASSWORD: ""
REDIS_PREFIX: ""

# LDAP
LDAP_URL: ldap://activedirectory:389
LDAP_BIND_DN: CN=user,DC=example,DC=local
LDAP_BIND_PW: ""
LDAP_SEARCH_BASE: DC=example,DC=local
LDAP_SEARCH_FILTER: (sAMAccountName={{username}})

service:
  type: LoadBalancer

  nodePort: 30300
  nodePort_debugger: 30301

  externalIPs:
    - 10.10.5.70
    - 10.10.5.71

tls:
  enabled: false

ingress:
  enabled: false
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: portal.production.svc.cluster.local
      paths: []

  tls: []
  #  - secretNamls e: chart-example-tls
  #    hosts:
  #      - chart-example.local

## Liveness and Readiness probe values.
## ref: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/
livenessProbe:
  initialDelaySeconds: 5
  periodSeconds: 30
  timeoutSeconds: 1
  successThreshold: 1
  failureThreshold: 3
readinessProbe:
  initialDelaySeconds: 5
  periodSeconds: 15
  timeoutSeconds: 1
  successThreshold: 1
  failureThreshold: 3

resources:
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  limits:
    cpu: 500m
    memory: 1Gi
  requests:
    cpu: 500m
    memory: 1Gi

nodeSelector: {}

tolerations: []

affinity: {}
